.jordan-home{
  font-family: "Futura Bold";
  font-size: 80px;
  padding: 52px;
  text-align: center;
  color: #000000ad;
  padding: 0px;
  margin: -14px;
  filter: contrast(0.5);
}

.back2 {
  background-color: rgba(128, 128, 128, 0.668);
}


.img-shop {
  position: relative;
  bottom: 112px;
  left: 36px;
}

.btn-2 {
  background-color: black;
  color: whitesmoke;
  padding: 6px 20px;
  border-radius: 30px;
  border: 1.5px solid transparent;
  margin-top: 10px;
  text-decoration: none;
  -webkit-box-pack: center;
  align-items: center;
}

.btn-2:hover {
  background-color: #757575;
  color: whitesmoke;
}

.font {
  color: #111111;
  font-weight: 500;
  font-size: 16px;
}

.font2 {
  color: #757575;
  font-size: 16px;
  font-weight: 300;
}

.photo-sneaker {
  transition: 0.3s;
}


.photo-sneaker:hover {
  transform: scale(1.1);
}

.boton-add {
  width: 100%;
  min-height: 40px;
  width: 158px;
  padding: 18px 24px;
  padding: 6px 20px;
  border-radius: 30px;
  border: 1.5px solid transparent;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #111;
  color: #fff;
  margin-bottom: 20px;
}
