.jordan-home{
  font-family: "Futura Bold";
  font-size: 80px;
  padding: 52px;
  text-align: center;
  color: #000000ad;
  padding: 0px;
  margin: -14px;
  filter: contrast(0.5);
}

.back2 {
  background-color: rgba(128, 128, 128, 0.668);
}


.img-shop {
  position: relative;
  bottom: 112px;
  left: 36px;
}

.btn-2 {
  background-color: black;
  color: whitesmoke;
  padding: 6px 20px;
  border-radius: 30px;
  border: 1.5px solid transparent;
  margin-top: 10px;
}
