.jordan-home{
  font-family: "Futura Bold";
  font-size: 80px;
  padding: 52px;
  text-align: center;
  color: #000000ad;
  padding: 0px;
  margin: -14px;
  filter: contrast(0.5);
}

.back2 {
  background-color: rgba(128, 128, 128, 0.668);
}
